@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');






*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header,.footer{
    background-color: #1f2937;
}
ul{
    display: flex;
    list-style: none;
    
}
ul li a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
.right{
    display: flex;
    margin-left: auto;
    gap: 30px;
    padding:20px ;
    
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    color: #f9faf8;
    font-size: 24px;
    font-weight: bolder;
}
#home{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:100px;


}
#home .skills{
    width:50%;
    height: auto;
    background-color: white;
    margin-left:50px;
    padding: 30px;
    border-radius: 8px;
    background-color: #e5e7eb;
    font-size: 18px;
    color: #1f2937;
    line-height: 2;
    word-spacing: 50px;
}
 
#home .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    flex-wrap: wrap;
    line-height: 1.4fr;
    color: #e5e7eb;
    font-size: 18px;
    
    
}
.content span{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}

.button{

    background-color: #3882f6;
    color:#e5e7eb;
    font-size: 17px;
    padding:10px;
    margin-left: -400px;
    margin-top: 20px;
    width: 150px;
    border-radius: 8px;
    border: none;
}